
body{
    padding: 20px;
}
*{
   
    font-family: sans-serif;
    line-height: 22px;
    color: #333333;
    
}

#nordstrom-img{
    width: 15%;
}
.checkout-main{
    width: 60%;
    
    margin: auto;
    height: auto;
    margin-top: 30px;
}
.checkout-main span{
    color: grey;
    font-weight: 400;
    font-size: 16px;
}
.checkout-main h2{
    margin-left: 20px;
}
.checkout-main i{
    margin-right: 10px;
}
.form-info{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: grey;
    border: 1px solid grey;
}
.form-info2{
    width: 42.5%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: grey;
    border: 1px solid grey;
}
.form-submit{
    width: 40%;
    text-align: center;
    padding: 10px 30px 10px 30px;
   margin-left: 30%;
   background-color: black;
   color: white;
   border-radius: 5px;
}
table{
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
}
table thead th{
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    background-color: #f8f8f8 ;
}
tbody tr td{
    padding: 10px 30px 10px 30px;
}
#guidelines{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 12px;

}


/* medium screens */
@media all and (min-width:761px) and (max-width:1024px){
    *{
       
        line-height: 15px;
    }
    
    .checkout-main{
        width: 70%;
    }
    .checkout-main span{
        font-size: 12px;
    }
    
    .form-info{
        font-size: 12px;
        padding: 7px;
        margin: 7px;
    }
    .form-info2{
        width: 41%;
        padding: 7px;
        margin: 7px;

    }
    .form-submit{
       font-size: 12px;
    }
    table{
        font-size: 12px;
    }
    table thead th{
        font-size: 12px;
    }
   
    #guidelines{
        font-size: 10px;
    
    }
    
}


/* small screens */
@media all and (min-width:320px) and (max-width:760px){
    *{
        line-height: 10px;
    }
    
    .checkout-main{
        width: 80%;
    }
    .checkout-main span{
        font-size: 8px;
    }
    
    .form-info{
        font-size: 8px;
        padding: 6px;
        margin: 6px;
    }
    .form-info2{
        font-size: 8px;
        width: 40%;
        padding: 6px;
        margin: 6px;

    }
    .form-submit{
       font-size: 8px;
       padding: 6px;
    }
    table{
        font-size: 8px;
    }
    table thead th{
        font-size: 8px;
    }
   
    #guidelines{
        font-size: 8px;
    
    }
    .checkout-main h2{
       font-size: 12px;
    }
    
}
