body,html{
    padding: 0;
    margin: 0;
    width: 100%;
}
footer{
    margin-top: 20px;
}
#foot-main{
    
    height: auto;
    background-color: #f9f9f9 ;
    line-height: 22px;
    font-family: sans-serif;
    color: #514d4d;
    padding: 20px 20px 0px 20px;
}

.foot-1{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    
}
.foot-1 div{
    font-size: 16px;
}


.foot-2{
    padding: 0;
    display: inline-flex;
    margin: 0 20px 0;
    
}
.foot-2 p{
    margin-right: 25px;
    font-size: 15px;
}

#foot-main i{
    margin-right: 10px;
}
#footer-email{
    
    margin-left: 60%;
    margin-top: 15%;
    margin-right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 22px;
}
#footer-email button{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 30px 10px 30px;
}
#footer-email input{
    border: 0.5px solid grey;
    color: grey;
    font-size: 16px;
    text-align: left;
    padding: 10px 100px 10px 5px;
}

/* medium screens */
@media all and (min-width:761px) and (max-width:1024px){
    
    #foot-main{
        line-height: 18px;
        padding: 10px 10px 0px 10px;
    }
    .foot-1{
        gap: 10px;   
    }
    .foot-1 div{
        font-size: 12px;
    }
    .foot-2{
        margin: 0 10px 0;
        
    }
    .foot-2 p{
        margin-right: 15px;
        font-size: 10px;
    }
    
    #foot-main i{
        margin-right: 5px;
    }
    #footer-email{
        font-size: 14px;
        line-height: 18px;
    }
    #footer-email button{
        width: 100%;
        margin-top:10px ;
        padding: 10px 30px 10px 30px;
    }
    #footer-email input{
        font-size: 14px;
    }
    

}


/* small screens */
@media all and (min-width:320px) and (max-width:760px){
   
    #foot-main{
        line-height: 12px;
        padding: 10px 10px 0px 10px;
    }
    .foot-1{
        gap: 8px;   
    }
    .foot-1 div{
        font-size: 8px;
    }
    .foot-2{
        margin: 0 8px 0;
        
    }
    .foot-2 p{
        margin-right: 15px;
        font-size: 8px;
    }
    
    #foot-main i{
        margin-right: 5px;
    }
    #footer-email{
        font-size: 8px;
        line-height: 15px;
    }
    #footer-email button{
        width: 80%;
        margin-top:10px ;
        padding: 10px 30px 10px 30px;
        font-size: 8px;
    }
    #footer-email input{
        font-size: 8px;
    }
    
}
