#login{
    width: 25%;
    margin: auto;
    height: auto;
    text-align: justify;
    color: #333333;
    margin-top: 80px;
    margin-bottom: 100px;
}
#login h2{
   font-family: sans-serif;
   font-size: 25px;
   font-weight: 200;
   line-height: 22px;
}
#login span{
    text-decoration: underline;
}
#login p,#login label{
    font-size: 14px;
}
#login button{
    width: 100%;
    padding: 10px 60px 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
#login input{
    width: 94%;
    padding:10px;
   margin-top: 10px;
}
#login a{
    text-decoration: none;
    color: white;
}
/* medium screens */
@media all and (min-width:761px) and (max-width:1024px){
    #login{
        width: 35%;
    }
    #login h2{
       font-size: 18px;
       font-weight: 400;
       line-height: 15px;
    }
    
    #login p,#login label{
        font-size: 13px;
    }
    
    #login input{
        padding:7px;
       margin-top: 7px;
    }
    
}




/* small screens */
@media all and (min-width:320px) and (max-width:760px){
    #login{
        width: 50%;
    }
    #login h2{
       font-size: 14px;
       font-weight: 400;
       line-height: 10px;
    }
    
    #login p,#login label{
        font-size: 13px;
    }
    
    #login input{
        padding:7px;
       margin-top: 7px;
    }
}