body,html{
    padding: 0;
    margin: 0;
}

#blackbox {
    background-color: black;
    height: auto;
    width: 100%;
    color: white;
    font-family: Brandon Text,Arial,sans-serif;
    display: flex;
    font-size: 15px;
    
    font-weight: 400;
    line-height: 1.4;
}
#blackbox  > div{
    display: flex;
    width: 2%;
    height: auto;
   align-items:flex-start;
    margin-left: 350px;
}
#blackbox  > p{
    margin-left: 300px;
}
#blackbox  > div > img{
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
    margin-top: 15px;
}
#navbar{
    
    width: 95%;
    margin: auto;
    height: auto;
}

#first{
   
    width: 100%;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#first  div{
    display: flex;
    justify-content: center;
   
}

#first > div:nth-child(1) {
    width: 20%;
    height: auto;
}
#first > div:nth-child(1) img{
    width: 100%;
}
#first > div:nth-child(2){
    border: 0.3px solid grey;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-between;
} 
#first > div:nth-child(2) input{
    width: 90%;
    text-align: left;
    border-style: hidden;
    font-family: Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
} 
#first > div:nth-child(2) > div{
   margin:6px;
}
i{
    -webkit-text-stroke: 3px white;
}



#first > div:nth-child(3){
    border: 1px solid darkblue;
    width: 30%;
    
} 

hr{
    background-color: #333333;
    height: 0.5px;
}
#second ul{
    margin: 0px;
}

#second ul li{
    display: inline-block;
    
    
}
#second li{
   margin: 10px;
    width: 93px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

