body{
    padding: 0;
    margin: 0;
    line-height: 22px;
}

#blackbox {
    background-color: black;
    height: auto;
    width: 100%;
    color: white;
    font-family: Brandon Text,Arial,sans-serif;
    display: flex;
    font-size: 15px;
    
    font-weight: 400;
    line-height: 1.4;
}
#blackbox  > div{
    display: flex;
    width: 2%;
    height: auto;
   align-items:flex-start;
    margin-left: 350px;
}
#blackbox  > p{
    margin-left: 300px;
}
#blackbox  > div > img{
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
    margin-top: 15px;
}
#navbar{
    
    width: 95%;
    margin: auto;
    height: auto;
}

#first{
   
    width: 100%;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#first  div{
    display: flex;
    justify-content: center;
   
}

#first > div:nth-child(1) {
    width: 20%;
    height: auto;
}
#first > div:nth-child(1) img{
    width: 90%;
}
#first > div:nth-child(2){
    border: 0.3px solid grey;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-between;
} 
#first > div:nth-child(2) input{
    width: 90%;
    text-align: left;
    border-style: hidden;
    font-family: Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
} 
#first > div:nth-child(2) > div{
   margin:6px;
}
/* #navbar i{
    -webkit-text-stroke: 3px white;
} */



.signin{
   margin-right: 20px;
    width: 30%;
    
} 
.signin > .first > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.signin > .first > ul > li{
    display: inline-block;
    margin-left: 50px;
    line-height: 50px;
}
.signin > .first > ul > li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    margin: 20px;
    opacity: 0;
    visibility: hidden;
    left: 65%;
   
}
.signin > .first > ul > li.menu:hover .sub-menu{
      margin-top: 0;
      opacity: 2;
      visibility: visible;
}

.sub-menu > ul > li {
    list-style: none;
}
.sub-menu > ul > li > a{
    display: inline-block;
    padding: 10px 0px;
    line-height: 22px;
    letter-spacing: 1.2px;
}
.sub-menu > ul > li > a:hover{
    text-decoration: underline;
}
#btn{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    color: white;
}
.bold{
    font-weight: 750;
}

hr{
    background-color: #333333;
    height: 0.5px;
}

.mega-menu{
    display: inline-block;
    margin-left: 50px;
    line-height: 50px;
}

.mega-menu a, .signin a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 22px;
    position: relative;
}

#second .nav > ul > li:hover > a{
    text-decoration: underline;
    color: #333333;

}
/* #second li{
   margin: 10px;
    width: 93px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
} */



#second > .nav > ul > li .sub{
    position: absolute;
    z-index: 500;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    margin: 20px;
    opacity: 0;
    visibility: hidden;
    max-width: 1500px;
    width: 100%;
    left: 50%;
    transform: translate(-51%);

}
#second > .nav > ul > li .sub{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
}
#second > .nav > ul > li .sub > .list-item{
    flex: 0 0 13%;
    padding: 0px 20px;
}

#second > .nav > ul > li.mega-menu:hover .sub{
    margin-top: 0;
    opacity: 2;
    visibility: visible;
}
.list-item > img{
    width: 100%;
   margin-top: 70px;
}
.list-item > .title:hover , .list-item > .types:hover{
    text-decoration: underline;
}

.list-item > .title, .list-item > .types{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 20px;
    
    
}
.list-item > .types{

    color: #524d4d;
}
/* medium screens */
@media all and (min-width:761px) and (max-width:1024px){
    #blackbox {
        font-size: 12px;
    }
    #blackbox  > div{
        width: 1%;
        margin-left: 50px;
    }
    #blackbox  > p{
        margin-left: 20px;
    }
    #blackbox  > div > img{
        height: 15px;
    }
    #first{
        height: auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #first > div:nth-child(1) img{
        width: 100px;
    }
    #first > div:nth-child(1) {
        width: 10%;
        
    }
    #first > div:nth-child(2){ 
        width: 30%;
        height: 30px; 
    } 
    #first > div:nth-child(2) input{
        font-size: 12px;
    } 
    #navbar i{
       font-size: 1em;
    }
    .signin{
        margin-right: 0px;
         width: 45%;
    } 
    .signin > .first > ul > li{
        margin-left: 20px;
    }
    .signin > .first > ul > li .sub-menu{
        padding: 15px;
        margin: 10px;
        left: 40%;  
        width: 35%;
        line-height: 12px;
    }
    .sub-menu > ul > li > a{
        padding:  0px;
        letter-spacing: 1px;
    }
    .mega-menu{
        
        margin-left: 10px;
        line-height: 30px;
    }
    
    .mega-menu a, .signin a{
        font-size: 12px;
        line-height: 15px; 
    }
    #second > .nav > ul > li .sub{
        padding: 5px;
        max-width: 1200px;
        width: 95%;
        left: 48%;
    }
    .list-item > .title, .list-item > .types{
        font-size: 12px;
        font-family: sans-serif;
        line-height: 12px;
        }
        
        #second > .nav > ul > li .sub > .list-item{
            flex: 0 0 9%;
        }
        
}


/* small screens */
@media all and (min-width:320px) and (max-width:760px){
    #blackbox {
        font-size: 8px;
    }
    #blackbox  > div{
        width: 1%;
        margin-left: 15px;
    }
    #blackbox  > p{
        margin-left: 10px;
    }
    #blackbox  > div > img{
        height: 10px;
        margin-top: 8px;
        margin-right: 2px;
    }
    #first{
        height: auto;
        padding-top: 10px;
        padding-bottom: 8px;
    }
    #first > div:nth-child(1) img{
        width: 60px;
    }
    #first > div:nth-child(1) {
        width: 10%;
        
    }
    #first > div:nth-child(2){ 
        width: 20%;
        height: 20px; 
    } 
    #first > div:nth-child(2) input{
        font-size: 5px;
    } 
    #navbar i{
       font-size: 0.7em;
    }
    .signin{
        margin-right: 0px;
         width: 55%;
    } 
    .signin > .first > ul > li{
        margin-left: 10px;
    }
    .signin > .first > ul > li .sub-menu{
        padding: 10px;
        margin: 0px;
        left: 40%;  
        width: 35%;
        line-height: 10px;
    }
    #btn{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
    }
    
    .sub-menu > ul > li > a{
        padding:  0px;
        letter-spacing: 1px;
    }
    .mega-menu{
        margin-left: 0px;
        line-height: 20px;
        margin-right: 5px;
    }
    
    .mega-menu a, .signin a{
        font-size: 8px;
        line-height: 10px; 
    }
    #second > .nav > ul > li .sub{
        padding: 5px;
        max-width: 1000px;
        width: 100%;
        left: 45%;
    }
    .list-item > .title, .list-item > .types{
        font-size: 8px;
        
        line-height: 8px;
        }
        
        #second > .nav > ul > li .sub > .list-item{
            flex: 0 0 1%;
        }
        
}

