#otp-page{
    width: 25%;
    margin: auto;
    height: auto;
    text-align: justify;
    color: #333333;
    margin-top: 80px;
    margin-bottom: 100px;
}
#otp-page h2{
   font-family: sans-serif;
   font-size: 25px;
   font-weight: 200;
   line-height: 22px;
}
#otp-page span{
    text-decoration: underline;
}
#otp-page p,#otp-page label{
    font-size: 14px;
}
#otp-page button{
    width: 100%;
    padding: 10px 60px 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
#otp-page input{
    width: 94%;
    padding:10px;
   margin-top: 10px;
}
#otp-page a{
    text-decoration: none;
    color: white;
}


/* medium screens */
@media all and (min-width:761px) and (max-width:1024px){
    #otp-page{
        width: 35%;
    }
    
    
}


/* small screens */
@media all and (min-width:320px) and (max-width:760px){
    #otp-page{
        width: 50%;
    }
    
}
