#password{
    width: 25%;
    margin: auto;
    height: auto;
    text-align: justify;
    color: #333333;
    margin-top: 80px;
    margin-bottom: 100px;
}
#password h2{
   font-family: sans-serif;
   font-size: 25px;
   font-weight: 200;
   line-height: 22px;
}
#password span{
    text-decoration: underline;
}
#password p,#password label{
    font-size: 14px;
}
#password label{
    font-weight: 600;
}
#password button{
    width: 100%;
    padding: 10px 60px 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
#pass{
    width: 94%;
    padding:10px;
   margin-top: 10px;
}
#password img:nth-child(1){
    width: 55%;
}
#password img:nth-child(2){
    width: 35%;
}
#password div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#chk{
    position: relative;
}
#check{
    position: absolute;
    left: 40%;
    top: 78.5%;
}
#pass+p{
    text-decoration: underline;
}


